cat > ~/Desktop/Projets-fil-rouge/DevOps/Backend/.env.example << 'EOF'
# Variables d'environnement
# Port d'écoute du serveur
PORT=your_port

# Chaîne de connexion à MongoDB
MONGO_URI=mongodb://your-mongo-service:27017/your-database

# Environnement
NODE_ENV=development|production

# CORS
CORS_ORIGIN=http://your-domain
EOF